In [1]:
# Cell 1

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("Student_Performance.csv")

df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
# Cell 2

# Convert Yes/No to 1/0
df["Extracurricular Activities"] = df["Extracurricular Activities"].map({"Yes": 1, "No": 0})

# Feature and target split
X = df[[
    "Hours Studied",
    "Previous Scores",
    "Extracurricular Activities",
    "Sleep Hours",
    "Sample Question Papers Practiced"
]].values

y = df["Performance Index"].values.reshape(-1, 1)

# Normalize data
scaler = StandardScaler()
X = scaler.fit_transform(X)

# 80:20 split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [4]:
# Cell 3

class LinearRegressionNAG:
    def __init__(self, lr=0.01, epochs=2000, gamma=0.9):
        self.lr = lr
        self.epochs = epochs
        self.gamma = gamma
        
    def fit(self, X, y):
        m, n = X.shape
        
        self.W = np.zeros((n, 1))
        self.b = 0
        
        vW = np.zeros((n, 1))
        vB = 0
        
        for _ in range(self.epochs):
            # Lookahead parameters
            W_look = self.W - self.gamma * vW
            B_look = self.b - self.gamma * vB
            
            # Predictions
            y_pred = X @ W_look + B_look
            
            # Gradients
            dW = (1/m) * (X.T @ (y_pred - y))
            dB = (1/m) * np.sum(y_pred - y)
            
            # Update momentum
            vW = self.gamma * vW + self.lr * dW
            vB = self.gamma * vB + self.lr * dB
            
            # Update weights
            self.W -= vW
            self.b -= vB

    def predict(self, X):
        return X @ self.W + self.b

In [5]:
# Cell 4

model = LinearRegressionNAG(lr=0.01, epochs=3000, gamma=0.9)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [6]:
# Cell 5

def MSE(y_true, y_pred):
    return np.mean((y_true - y_pred) ** 2)

print("MSE:", MSE(y_test, y_pred))

MSE: 4.082628398521855